.cardBundle {
  background-color: #0d1117 !important;
}

.CurrentManga img {
  vertical-align: bottom !important;
  background-repeat: no-repeat !important;
  height: 100% !important;
  border-top-left-radius: calc(0.25rem - 1px) !important;
  border-top-right-radius: calc(0.25rem - 1px) !important;
  border-bottom-left-radius: calc(0.25rem - 1px) !important;
  border-bottom-right-radius: calc(0.25rem - 1px) !important;
}

.cardB {
  background-color: #0d1117 !important;
}

.cHeader {
  color: #ffffff;
  padding-right:25rem;
}