.manga {
    position: bottom;
    display:inline-block;
    align-items: flex-end;
    
    color: white;
    border-radius: 5vw;
    padding-right: 10vw;
    padding-left: 12vw;
    padding-top: 1vw;
    padding-bottom: 0vw;
}

.stats {
    position: bottom;
    display:inline-block;
    align-items: flex-end;
    
    color: white;
    border-radius: 5vw;
    padding-right: 10vw !important;
    padding-left: 12vw;
    padding-top: 1vw;
    padding-bottom: 0vw;
}

.coverImg {
    border-top-left-radius: calc(0.25rem - 1px) !important;
    border-top-right-radius: calc(0.25rem - 1px) !important;
    border-bottom-left-radius: calc(0.25rem - 1px) !important;
    border-bottom-right-radius: calc(0.25rem - 1px) !important;
    height: 24rem !important;
    margin-right: 2vh !important;
}

.inStats {
    padding-right: 6vw !important;
    padding-top: 2vh !important;
    padding-bottom: 2vh !important;
    padding-left: 1vw !important;
}

.description {
    padding-right: 2vw !important;
    padding-top: 2vh !important;
    padding-left: 6vw !important;
}

.coverText {
    float: right;
    text-shadow: 0 0 10px #000000, 0 0 5px #000000;
    text-align: left;
}