.manga {
    position: bottom;
    display:inline-block;
    align-items: flex-end;
    
    color: white;
    border-radius: 5rem;
    padding-right: 10rem;
    padding-left: 15rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
}

.stats {
    position: bottom;
    display:inline-block;
    align-items: flex-end;
    
    color: white;
    border-radius: 5rem;
    padding-right: 10rem !important;
    padding-left: 15rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
}

.coverImg {
    border-top-left-radius: calc(0.25rem - 1px) !important;
    border-top-right-radius: calc(0.25rem - 1px) !important;
    border-bottom-left-radius: calc(0.25rem - 1px) !important;
    border-bottom-right-radius: calc(0.25rem - 1px) !important;
    height: 24rem !important;
    margin-right: 2rem !important;
}

.inStats {
    padding-right: 10rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 1rem !important;
}

.description {
    padding-right: 2rem !important;
    padding-top: 1rem !important;
    padding-left: 7rem !important;
}

.coverText {
    float: right;
    text-shadow: 0 0 10px #000000, 0 0 5px #000000;
    text-align: left;
}