.profile {
    position: bottom;
    display:inline-block;
    align-items: flex-end;
    
    color: white;
    border-radius: 5rem;
    padding-right: 10rem;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
}

.pfp {
    border-radius: 10rem;
    float: left;
    margin-top: 2rem;
}

h3 {
    float: right;
    text-shadow: 0 0 10px #000000, 0 0 5px #000000;
}

.profileBanner {
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: '50% 35%';
    height: '330rem';
    display: 'flex';
    width: 100%;
}